
 
.features .nav-tabs {
  border: 0;
}

.features .nav-link {
  border: 0;
  padding: 25px 20px;
  color: var(--color-secondary);
  box-shadow: 5px 5px 25px rgba(var(--color-secondary-rgb), 0.15);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0s;
  cursor: pointer;
  height: 100%;
}

.features .nav-link i {
  font-size: 32px;
  line-height: 0;
}

.features .nav-link h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 0 0;
  color: var(--color-secondary);
}

.features .nav-link:hover {
  color: var(--color-primary);
}

.features .nav-link.active {
  transition: 0.3s;
  background: #34548c;
  border-color: var(--color-primary);
}

.features .nav-link.active h4 {
  color: white;
}

.features .nav-link.active i {
  color: white;
}

.features .tab-content {
  margin-top: 30px;
}

.features .tab-pane.active {
  animation: fadeIn 0.5s ease-out;
}

.features .tab-pane h3 {
  font-weight: 600;
  font-size: 36px;
  color: var(--color-secondary);
}

.features .tab-pane ul {
  list-style: none;
  padding: 0;
}

.features .tab-pane ul li {
  padding-bottom: 10px;
}

.features .tab-pane ul i {
  font-size: 24px;
  margin-right: 4px;
  color: #dc354b;
}

.features .tab-pane p:last-child {
  margin-bottom: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}




.system-software-section {
  height: 500px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('https://res.cloudinary.com/elonatech/image/upload/v1709811816/systempage/system_sofrtware_ovlltq.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
}

/* Text styling for desktop */
.system-software-section h2 {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 10px;
}

.system-software-section h5 {
  font-size: 1.3rem;
  line-height: 1.2;
  margin-bottom: 8px;
}

.system-software-section p {
  font-size: 1.1rem;
  line-height: 1.2;
  margin-bottom: 5px;
}

/* Mobile view */
@media (max-width: 576px) {
  .system-software-section {
    height: 200px; /* Adjusted height for mobile */
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('https://res.cloudinary.com/elonatech/image/upload/v1729523984/System_software_mobile_l0muuk.jpg');
    background-size: cover;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }

  /* Adjusting text for mobile view */
  .system-software-section h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    line-height: 1.1;
  }

  .system-software-section h5 {
    font-size: 1rem;
    margin-bottom: 3px;
    line-height: 1.1;
    font-weight: 200;
    /* display: none; */
  }

  .system-software-section p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 0;
    display: none; 
  }

  .system-software-section h2,
  .system-software-section h5,
  .system-software-section p {
    margin: 0;
    padding: 0;
  }
}


