.dash {
    border-style: dotted;
    border-width: 2px;
    border-color: #ff0000;
}


.infrastructure-section {
    min-height: 500px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('./captions/network_infas_and_integration_pjol6x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    margin-bottom: 30px;
  }
  
  /* Text styling for desktop */
  .infrastructure-section h2 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  
  .infrastructure-section h5 {
    font-size: 1.3rem;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  
  .infrastructure-section p {
    font-size: 1.1rem;
    line-height: 1.2;
    margin-bottom: 5px;
  }
  
  /* Mobile view */
  @media (max-width: 576px) {
    .infrastructure-section {
      min-height: 200px;
      background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('https://res.cloudinary.com/elonatech/image/upload/v1729523977/network_infrasstructure_mobile_jz2lda.jpg');
      background-size: cover;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
    }
  
    /* Adjusting text for mobile view */
    .infrastructure-section h2 {
      font-size: 1.2rem;
      margin-bottom: 5px;
      line-height: 1.1;
    }
  
    .infrastructure-section h5 {
      font-size: 1rem;
      margin-bottom: 3px;
      line-height: 1.1;
      font-weight: 200;
      /* display: none;  */
    }
  
    .infrastructure-section p {
      font-size: 0.9rem;
      line-height: 1.1;
      margin-bottom: 0;
      display: none;
    }
  
    .infrastructure-section h2,
    .infrastructure-section h5,
    .infrastructure-section p {
      margin: 0;
      padding: 0;
    }
  }
  