.content-marketing-section {
    height: 500px; /* Fixed height for desktop */
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('https://res.cloudinary.com/elonatech/image/upload/v1709802556/contentPage/Content_marketing_ohj2ft.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
        /* margin-bottom: 50px; */
  }
  
  /* Text styling for desktop */
  .content-marketing-section h2 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  
  .content-marketing-section h5 {
    font-size: 1.3rem;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  
  .content-marketing-section p {
    font-size: 1.1rem;
    line-height: 1.2;
    margin-bottom: 5px;
  }
  
  /* Mobile view */
  @media (max-width: 576px) {
    .content-marketing-section {
      height: 200px; /* Adjusted height for mobile */
      background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('https://res.cloudinary.com/elonatech/image/upload/v1729523972/Content_marketing_New_ipveod.png');
      background-size: cover;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
    }
  
    /* Adjusting text for mobile view */
    .content-marketing-section h2 {
      font-size: 1.5rem;
      margin-bottom: 5px;
      line-height: 1.1;
    }
  
    .content-marketing-section h5 {
      font-size: 1rem;
      margin-bottom: 3px;
      line-height: 1.1;
      font-weight: 200;
      display: none;
    }
  
    .content-marketing-section p {
      font-size: 0.9rem;
      line-height: 1.1;
      margin-bottom: 0;
      /* display: none; */
    }
  
    .content-marketing-section h2,
    .content-marketing-section h5,
    .content-marketing-section p {
      margin: 0;
      padding: 0;
    }
  }
  