
.trainer-item {
    transition: .5s;
    border: 1px solid transparent;
    transition: .5s;
}

.trainer-item:hover {

    border-color: var(--primary);
}




.rm-border-train{
    border-right: 1px solid red;
}


@media only screen and (max-width: 500px) {
      
    .rm-border-train{
      border: none;
    }

    .straight-line{
        border: none;
    }
  

}


.training-equipping-section {
    min-height: 500px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('https://res.cloudinary.com/elonatech/image/upload/v1709817268/trainerPage/Training_uzkdct.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    margin-bottom: 50px;
  }
  
  /* Text styling for desktop */
  .training-equipping-section h2 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  
  .training-equipping-section h5 {
    font-size: 1.3rem;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  
  .training-equipping-section p {
    font-size: 1.1rem;
    line-height: 1.2;
    margin-bottom: 5px;
  }
  
  /* Mobile view */
  @media (max-width: 576px) {
    .training-equipping-section {
      min-height: 200px;
      background-image: linear-gradient(
		  0deg,
		  rgba(0, 0, 0, 0.5),
		  rgba(0, 0, 0, 0.5)
		),
		url('https://res.cloudinary.com/elonatech/image/upload/v1729523988/Training-_mobile-view_bgds3d.png');
      background-size: cover;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
    }
  
    /* Adjusting text for mobile view */
    .training-equipping-section h2 {
      font-size: 1.5rem;
      margin-bottom: 5px;
      line-height: 1.1;
    }
  
    .training-equipping-section h5 {
      font-size: 1rem;
      margin-bottom: 3px;
      line-height: 1.1;
      font-weight: 200;
      /* display: none; */
    }
  
    .training-equipping-section p {
      font-size: 0.9rem;
      line-height: 1.1;
      margin-bottom: 0;
      /* display: none; */
    }
  
    .training-equipping-section h2,
    .training-equipping-section h5,
    .training-equipping-section p {
      margin: 0;
      padding: 0;
    }
  }
  









