
.ui-ux-section {
    height: 500px; /* Fixed height for desktop */
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('https://res.cloudinary.com/elonatech/image/upload/v1709817744/brandingPage/Brand_development_meuwrk.jpg'); /* Update this URL with the correct one */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    margin-bottom: 50px; /* Adjust as needed */
  }
  
  /* Text styling for desktop */
  .ui-ux-section h2 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  
  .ui-ux-section h5 {
    font-size: 1.3rem;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  
  .ui-ux-section p {
    font-size: 1.1rem;
    line-height: 1.2;
    margin-bottom: 5px;
  }
  
  /* Mobile view */
  @media (max-width: 768px) {
    .ui-ux-section {
      height: 108px; /* Adjusted height for mobile */
      background-size: contain;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
    }
  
    /* Adjusting text for mobile view */
    .ui-ux-section h2 {
      font-size: 1.5rem;
      margin-bottom: 5px;
      line-height: 1.1;
    }
  
    .ui-ux-section h5 {
      font-size: 0.7rem;
      margin-bottom: 3px;
      line-height: 1.1;
      font-weight: 200;
      display: none;
    }
  
    .ui-ux-section p {
      font-size: 0.9rem;
      line-height: 1.1;
      margin-bottom: 0;
      display: none;
    }
  
    .ui-ux-section h2,
    .ui-ux-section h5,
    .ui-ux-section p {
      margin: 0;
      padding: 0;
    }
  }
  