.ip-telephony-section {
    min-height: 500px;
background-color: #11253D; 
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('https://res.cloudinary.com/elonatech/image/upload/v1709817075/IPTelephonyPage/telephony_sxbc6y.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    /* margin-bottom: 30px; */
  }

  @media (max-width: 834px) {
    .pyx {
      order: -1;
    }
  }
  
  /* Text styling for desktop */
  .ip-telephony-section h2 {
    font-size: 2rem;
    line-height: 1.2;
    /* margin-bottom: 10px; */
  }
  
  .ip-telephony-section h5 {
    font-size: 1.3rem;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  
  .ip-telephony-section p {
    font-size: 1.1rem;
    line-height: 1.2;
    margin-bottom: 5px;
  }
  
  /* Mobile view */
  @media (max-width: 576px) {
    .ip-telephony-section {
      min-height: 200px; 
      background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('https://res.cloudinary.com/elonatech/image/upload/v1729523985/Telephony_mobile_vvd4h6.jpg');
      background-size: cover;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
    }
  
    /* Adjusting text for mobile view */
    .ip-telephony-section h2 {
      font-size: 1.5rem;
      margin-bottom: 5px;
      line-height: 1.1;
    }
  
    .ip-telephony-section h5 {
      font-size: 1rem;
      margin-bottom: 3px;
      line-height: 1.1;
      font-weight: 200;
      /* display: none; */
    }
  
    .ip-telephony-section p {
      font-size: 0.9rem;
      line-height: 1.1;
      margin-bottom: 0;
      display: none;
    }
  
    .ip-telephony-section h2,
    .ip-telephony-section h5,
    .ip-telephony-section p {
      margin: 0;
      padding: 0;
    }
  }
  

  .voip-section {
    min-height: 500px;
background-color: #11253D; 
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('https://res.cloudinary.com/elonatech/image/upload/v1709648542/voipPage/voipHeader_e2njfe.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    margin-bottom: 30px;
  }
  
  /* Text styling for desktop */
  .voip-section h2 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  
  .voip-section h5 {
    font-size: 1.3rem;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  
  .voip-section p {
    font-size: 1.1rem;
    line-height: 1.2;
    margin-bottom: 5px;
  }
  
  /* Mobile view */
  @media (max-width: 576px) {
    .voip-section {
      min-height: 200px;
      background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('https://res.cloudinary.com/elonatech/image/upload/v1730211775/voip_zggbkk.jpg');
      background-size: cover;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
    }
  
    /* Adjusting text for mobile view */
    .voip-section h2 {
      font-size: 1.5rem;
      margin-bottom: 5px;
      line-height: 1.1;
    }
  
    .voip-section h5 {
      font-size: 1.3rem;
      margin-bottom: 3px;
      line-height: 1.1;
      font-weight: 200;
      /* display: none;  */
    }
  
    .voip-section p {
      font-size: 0.9rem;
      line-height: 1.1;
      margin-bottom: 0;
      display: none;
    }
  
    .voip-section h2,
    .voip-section h5,
    .voip-section p {
      margin: 0;
      padding: 0;
    }
  }
  

