.live-streaming-section {
    height: 500px; /* Fixed height for desktop */
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('https://res.cloudinary.com/elonatech/image/upload/v1709805137/livestreamingPage/Live_Streaming_nc3rvu.jpg'); /* Image URL */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    margin-bottom: 100px; /* Adjusted margin for spacing */
  }
  
  /* Text styling for desktop */
  .live-streaming-section h2 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  
  .live-streaming-section p {
    font-size: 1.1rem;
    line-height: 1.5; /* Adjusted line-height for better readability */
    margin-bottom: 5px;
  }
  
  /* Mobile view */
  @media (max-width: 576px) {
    .live-streaming-section {
      height: 108px; /* Adjusted height for mobile */
      background-size: contain;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
    }
  
    /* Adjusting text for mobile view */
    .live-streaming-section h2 {
      font-size: 1.5rem;
      margin-bottom: 5px;
      line-height: 1.1;
    }
  
    .live-streaming-section p {
      font-size: 0.9rem;
      line-height: 1.2; /* Adjusted line-height for mobile */
      margin-bottom: 0;
      display: none;
    }
  
    .live-streaming-section h2,
    .live-streaming-section p {
      margin: 0;
      padding: 0;
    }
  }
  