.border-x{
    border: 9px solid #34548c;
    box-shadow: 5px 5px red;
}

.overly{

background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;

}


.printer-repair-section {
  min-height: 500px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('./captions/printer_rep_ks510c.jpg'); /* Replace with the actual URL if dynamic */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
  margin-bottom: 50px;
}

/* Text styling for desktop */
.printer-repair-section h2 {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 10px;
}

.printer-repair-section h5 {
  font-size: 1.3rem;
  line-height: 1.2;
  margin-bottom: 8px;
}

.printer-repair-section p {
  font-size: 1.1rem;
  line-height: 1.2;
  margin-bottom: 5px;
}

/* Mobile view */
@media (max-width: 768px) {
  .printer-repair-section {
    min-height: 108px;
    background-size: contain;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }

  /* Adjusting text for mobile view */
  .printer-repair-section h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    line-height: 1.1;
  }

  .printer-repair-section h5 {
    font-size: 1rem;
    margin-bottom: 3px;
    line-height: 1.1;
    font-weight: 200;
    display: none;
  }

  .printer-repair-section p {
    font-size: 0.9rem;
    line-height: 1.1;
    margin-bottom: 0;
    display: none;
  }

  .printer-repair-section h2,
  .printer-repair-section h5,
  .printer-repair-section p {
    margin: 0;
    padding: 0;
  }
}

