
.faq{
  height: 35rem;
  background:#34548c; 
}

@media (max-width: 768px) {
  .faq{
    height: 100vh;
  }

  .animation-context{
    height:100vh; 
    width:100%;
  }
}


.animations-section {
  height: 500px; /* Fixed height for desktop */
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('https://res.cloudinary.com/elonatech/image/upload/v1709800777/2dAnimationPage/2D_3D_gd74re.jpg'); /* Image URL */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
  margin-bottom: 70px; /* Adjust as needed */
}

/* Text styling for desktop */
.animations-section h2 {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 10px;
}

.animations-section h5 {
  font-size: 1.3rem;
  line-height: 1.2;
  margin-bottom: 8px;
}

.animations-section p {
  font-size: 1.1rem;
  line-height: 1.2;
  margin-bottom: 5px;
}

/* Mobile view */
@media (max-width: 768px) {
  .animations-section {
    height: 108px; /* Adjusted height for mobile */
    background-size: contain;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }

  /* Adjusting text for mobile view */
  .animations-section h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    line-height: 1.1;
  }

  .animations-section h5 {
    font-size: 1rem;
    margin-bottom: 3px;
    line-height: 1.1;
    font-weight: 200;
    display: none;
  }

  .animations-section p {
    font-size: 0.9rem;
    line-height: 1.1;
    margin-bottom: 0;
    display: none;
  }

  .animations-section h2,
  .animations-section h5,
  .animations-section p {
    margin: 0;
    padding: 0;
  }
}
