/* .price-filter {
  margin-bottom: 20px;
}

.price-filter input[type='range'] {
  width: 100%;
  margin: 10px 0;
  background-color: brown;
}

.price-filter button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.brand-filter {
  margin-top: 20px;
}

.brand-filter div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.brand-filter input {
  margin-right: 10px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

input[type="number"] {
  padding: 5px;
  width: 120px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  padding: 10px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #5c6bc0;
}

.form-label {
  color: #212529;
  font-size: 22.86px;
  font-weight: bold;
} */

.form-label {
  color: #212529;
  font-size: 22.86px;
  font-weight: bold;
}



.shop-filter {
  margin-bottom: 1rem;
}
.price-filter {
  margin-top: 1rem;
}
.slider {
  margin: 10px 0;
}
.price-range-values {
  display: flex;
  justify-content: space-between;
}
.apply-btn,
.reset-btn {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.apply-btn {
  background-color: rgb(52, 84, 140);
  color: white;
}
.reset-btn {
  background-color: rgb(220, 53, 69);
  color: white;
}
.no-products-message {
  color: red;
  font-size: 18px;
  margin-top: 20px;
}