/* .career-bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../components/Career/img/desk-scene-close-up.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;

    color: #f0f0f0;
} */
.align-self-center{
    width: 40%;
}

@media(max-width:768px){
    .align-self-center{
        width: 100%;
    }
    .card{
        margin-top: 2rem;
    }
}



.career-section {
    min-height: 500px; /* Adjust to match the previous examples */
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('https://res.cloudinary.com/elonatech/image/upload/v1709288295/careerPage/career_page_testing_1_clrx3t.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    margin-bottom: 50px; /* Adjusted margin-bottom */
  }
  
  /* Text styling for desktop */
  .career-section h2 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  
  .career-section h5 {
    font-size: 1.3rem;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  
  .career-section p {
    font-size: 1.1rem;
    line-height: 1.2;
    margin-bottom: 5px;
  }
  
  /* Mobile view */
  @media (max-width: 576px) {
    .career-section {
      min-height: 108px; /* Adjusted for mobile */
      background-size: contain;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
    }
  
    /* Adjusting text for mobile view */
    .career-section h2 {
      font-size: 1.5rem;
      margin-bottom: 5px;
      line-height: 1.1;
    }
  
    .career-section h5 {
      font-size: 1rem;
      margin-bottom: 3px;
      line-height: 1.1;
      font-weight: 200;
      display: none;
    }
  
    .career-section p {
      font-size: 0.9rem;
      line-height: 1.1;
      margin-bottom: 0;
      display: none;
    }
  
    .career-section h2,
    .career-section h5,
    .career-section p {
      margin: 0;
      padding: 0;
    }
  }
  