/* .price-filter {
    margin-bottom: 20px;
  }
  
  .price-filter input[type='range'] {
    width: 100%;
    margin: 10px 0;
    background-color: brown;
  }
  
  .price-filter button {
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  .brand-filter {
    margin-top: 20px;
  }
  
  .brand-filter div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .brand-filter input {
    margin-right: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  
  input[type="number"] {
    padding: 5px;
    width: 120px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    padding: 10px;
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #5c6bc0;
  } */


    .form-label {
    color: #212529;
    font-size: 22.86px;
    font-weight: bold;
  }

  @media screen and (max-width: 767px) {
    .price-mobile {
      position: relative;
      bottom: 545px;
      left: 130px;
    }
    .price-mobile h4 {
      margin-left: 50px;
    }
    .price-mobile .slider {
      margin-top: -6px;
    }
    .price-mobile .price-range-values {
      margin-top: -15px;
    }
}
